:root {
  --main-title-color: #212121;
  --main-text-color: #757575;
  --main-hover-color: #2196f3;
  --main-svg-color: #afb1b8;
  --timing-function-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* .link:active {
  color: var(--main-hover-color);
} */

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  border: transparent;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* --------------HEADER ------------*/

.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--main-hover-color);
}

.header {
  background-color: #ffffff;
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
}

.header-nav-item {
  margin-right: 50px;
}

.header-nav-item:last-child {
  margin-right: 0;
}

.header-contacts-list {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.header-contacts-item {
  margin-right: 50px;
}

.header-contacts-item:last-child {
  margin-right: 0;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14; /* line-height(px)/font-size(px) */
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function-cubic);
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--duration) var(--transition-cubic);
  padding-bottom: 32px;
  padding-top: 32px;
}

.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000;
  margin-right: 93px;
}

.header-logo-span {
  color: #2196f3;
}

.current-link {
  color: var(--main-hover-color);
  position: relative;
}

/* .header-nav-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  transition: width var(--duration) var(--transition-cubic);
  bottom: -1px;
}

.header-nav-link:hover::after {
  width: 100%;
} */

.current-link::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  bottom: -1px;
  /* bottom: -33px; */
}

/* --------------HERO ------------*/

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img-hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: auto auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  transition: background-color var(--duration) var(--timing-function-cubic);
}

/* -------------- FEATURES ------------*/

.features-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.features-item {
  align-items: baseline;
  margin-right: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

.features-item:last-child {
  margin-right: 0;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.features-item-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.features-item-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

/* -------------- ABOUT ------------*/

.about {
  padding-top: 0;
}

.about-list {
  display: flex;
  column-gap: 30px; /* задает отступы между li списком, кром последнего/первого. Аналог child */
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.about-item {
  position: relative;
}

.about-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------- TEAM ------------*/

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  column-gap: 30px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
  padding-top: 30px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  /* padding-bottom: 30px; */
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--duration) var(--timing-function-cubic);
}

.team-soc-icon {
  fill: var(--main-svg-color);
  transition: fill var(--duration) var(--timing-function-cubic);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--main-hover-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: #ffffff;
}

/* -------------- CLIENTS ------------*/

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.clients-logo-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--main-svg-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--duration) var(--timing-function-cubic),
    color var(--duration) var(--timing-function-cubic);
}

.clients-logo-icon {
  /* fill: var(--main-svg-color); */
  fill: currentColor;
  /* transition: fill var(--duration) var(--timing-function-cubic); */
}

.clients-logo-link:hover,
.clients-logo-link:focus {
  border-color: var(--main-hover-color);
  color: var(--main-hover-color);
}

/* .clients-logo-link:hover .clients-logo-icon,
.clients-logo-link:focus .clients-logo-icon {
  fill: currentColor;
} */

/* -------------- PORTFOLIO ------------*/

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  transition: background-color var(--duration) var(--timing-function-cubic),
    color var(--duration) var(--timing-function-cubic),
    box-shadow var(--duration) var(--timing-function-cubic);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.portfolio-btn {
  padding: 6px 22px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.portfolio-item-under-img {
  padding: 20px 24px;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  /* position: relative; */
}

.portfolio-item-link {
  display: block;
  width: 100%;
  height: 100%;
  transition: box-shadow var(--duration) var(--timing-function-cubic);
  /* position: relative; */
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  color: #ffffff;
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform var(--duration) var(--timing-function-cubic);
  padding: 63px 24px;
  overflow: auto;
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-link:hover .portfolio-overlay-text {
  transform: translateY(0);
}

/* -------------- FOOTER ------------*/

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address-item-map:hover,
.footer-address-item-map:focus,
.footer-address-item-link:hover,
.footer-address-item-link:focus {
  color: var(--main-hover-color);
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-address {
  margin-top: auto;
}

.footer-logo-span {
  color: #2196f3;
}

.footer-address-item-map {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--duration) var(--timing-function-cubic);
}

.footer-address-item-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration) var(--timing-function-cubic);
}

.footer-address-item {
  margin-bottom: 9px;
}

.footer-address-item:last-child {
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.footer-address-container {
  margin-right: 70px;
}

.footer-soc-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: start;
  column-gap: 10px;
  /* margin-bottom: 30px; */
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) var(--timing-function-cubic);
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--main-hover-color);
}

/* .footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
  fill: #ffffff;
} */

.footer-subscription {
  margin-left: 93px;
}

.footer-subscription-form {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer-subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-subscription-input {
  /* box-sizing: border-box; */
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0);
  padding: 15px 16px;
}

.footer-subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-btn {
  width: 200px;
  height: 50px;
  background: var(--main-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color var(--duration) var(--timing-function-cubic);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* .footer-subscription-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}*/

.footer-subscription-btn:hover,
.footer-subscription-btn:focus {
  background-color: #188ce8;
}

/* -------------- MODAL WINDOW / BACKDROP------------*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration) var(--timing-function-cubic),
    visibility var(--duration) var(--timing-function-cubic);
}

.modal-window {
  /* открытое окно модалки */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); /*scale показыает точку с которой будет пояляться */
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--duration) var(--timing-function-cubic);
  padding: 40px;
}

.backdrop.is-hidden .modal-window {
  /* закрытое окно модалки */
  transform: translate(-50%, -50%) scale(0); /* плавное появление модалки */
}

.backdrop-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.backdrop-icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
}

.modal-input-field {
  margin-bottom: 10px;
}

.modal-input-field.user-comment {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--duration) var(--timing-function-cubic),
    outline-color var(--duration) var(--timing-function-cubic);
}

.modal-input:focus {
  border-color: var(--main-hover-color);
  outline-color: var(--main-hover-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--main-hover-color);
}

.modal-input-title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.modal-input-comment {
  display: block;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--duration) var(--timing-function-cubic),
    outline-color var(--duration) var(--timing-function-cubic);
}

.modal-input-comment:focus {
  border-color: var(--main-hover-color);
  outline-color: var(--main-hover-color);
}

.modal-input-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  margin-bottom: 30px;
}

.modal-checkbox-text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-checkbox-text span:first-child {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-title-color);
  border-radius: 3px;
  margin-right: 8.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration) var(--timing-function-cubic),
    border-color var(--duration) var(--timing-function-cubic);
}

.modal-check {
  fill: transparent;
  transition: fill var(--duration) var(--timing-function-cubic);
}

.modal-checkbox-input:checked + .modal-checkbox-text span:first-child {
  background-color: var(--main-hover-color);
  border-color: var(--main-hover-color);
}

.modal-checkbox-input:checked + .modal-checkbox-text .modal-check {
  fill: #ffffff;
}

/* .modal-checkbox-input:focus + .modal-checkbox-text span:first-child {
  border-color: var(--main-hover-color);
} */

/* .modal-checkbox-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-title-color);
  border-radius: 3px;
  margin-right: 8.38px;
  transition: background-color var(--duration) var(--timing-function-cubic);
}

.modal-checkbox-input:checked + .modal-checkbox-text::before {
  background-color: var(--main-hover-color);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
} */

.modal-checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-hover-color);
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--duration) var(--timing-function-cubic);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--main-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--duration) var(--timing-function-cubic);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}
