.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address-item-map:hover,
.footer-address-item-map:focus,
.footer-address-item-link:hover,
.footer-address-item-link:focus {
  color: var(--main-hover-color);
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-address {
  margin-top: auto;
}

.footer-logo-span {
  color: #2196f3;
}

.footer-address-item-map {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color var(--duration) var(--timing-function-cubic);
}

.footer-address-item-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--duration) var(--timing-function-cubic);
}

.footer-address-item {
  margin-bottom: 9px;
}

.footer-address-item:last-child {
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.footer-address-container {
  margin-right: 70px;
}

.footer-soc-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  justify-content: start;
  column-gap: 10px;
  /* margin-bottom: 30px; */
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) var(--timing-function-cubic);
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--main-hover-color);
}

/* .footer-soc-link:hover .footer-soc-icon,
.footer-soc-link:focus .footer-soc-icon {
  fill: #ffffff;
} */

.footer-subscription {
  margin-left: 93px;
}

.footer-subscription-form {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.footer-subscription-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-subscription-input {
  /* box-sizing: border-box; */
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0);
  padding: 15px 16px;
}

.footer-subscription-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-btn {
  width: 200px;
  height: 50px;
  background: var(--main-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color var(--duration) var(--timing-function-cubic);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* .footer-subscription-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}*/

.footer-subscription-btn:hover,
.footer-subscription-btn:focus {
  background-color: #188ce8;
}